doctype html
html(lang='sk')
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
  meta(http-equiv='x-ua-compatible' content='ie=edge')

  meta(name='keywords' content='lukasBRybar')
  meta(name='description' content='lukasBRybar')
  meta(name='author' content='lukasBRybar')
  title lukasBRybar
  
  // CSS
  link(type='text/css' rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
  link(type='text/css' rel='stylesheet' href='css/style.css')
  
body
  
  #nav
    .ui.fixed.inverted.menu
      h3.ui.container
        #logo.left.menu
          a.item(href='#') lukasBRybar
      
        a.item#menu(href='#') home
        a.item#menu(href='#') about
        a.item#menu(href='#') portfolio
        a.item#menu(href='#') skills
        a.item#menu(href='#') contact
          
        #social.right.menu
          a.item(href='#'): i.facebook.icon
          a.item(href='#'): i.google.icon
          a.item(href='#'): i.youtube.icon
          
        #mobil.right.menu
          #show-sidebar
            a.item: i.sidebar.icon 
        
          .ui.left.inverted.vertical.menu.sidebar
            #hide-sidebar: a.item menu
              i.sidebar.icon
            a.item(href='#') home 
              i.facebook.icon 
            a.item(href='#') about
              i.facebook.icon         
            a.item(href='#') portfolio 
              i.facebook.icon 
            a.item(href='#') skills
              i.facebook.icon 
            a.item(href='#') contact
              i.facebook.icon    
          
  #main
    .ui.main.text.container
      h1.ui.header #lukasBRybar
      .ui.icon.message
        i.notched.circle.loading.icon
        .content
          .header
            | 404
          p Na stránke sa pracuje
      .ui.card
        .ui.slide.masked.reveal.image
          img.visible.content(src='img/avatar.png')
          img.hidden.content(src='img/avatar.png')
        



  #footer
    .ui.inverted.vertical.footer.segment
      .ui.center.aligned.container
        .ui.stackable.inverted.divided.grid
          .three.wide.column
            h4.ui.inverted.header community
            .ui.inverted.link.list
              a.item(href='#') help translate
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
          .three.wide.column
            h4.ui.inverted.header GROUP 1
            .ui.inverted.link.list
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
          .three.wide.column
            h4.ui.inverted.header GROUP 1
            .ui.inverted.link.list
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
              a.item(href='#') LINK ONE
          .seven.wide.column
            h4.ui.inverted.header header
            p Extra space for a call to action inside the footer that could help re-engage users.
        .ui.inverted.section.divider
        .ui.centered.mini.image
        .ui.horizontal.inverted.small.divided.link.list
          a.item(href='#') LINK ONE
          a.item(href='#') LINK ONE
          a.item(href='#') LINK ONE
          a.item(href='#') LINK ONE
          
  
  // JS
  script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')
  script(type='text/javascript' src='js/script.js')

